<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(students.length > 0 ){ %>
        <div style="text-align:center" class="form-group">
            <button class="btn btn-light"><a href="/student-list" style="text-align:center">Students</a></button>
            <button class="btn btn-light"><a href="/teacher-list" style="text-align:center">Teachers</a></button>

        </div>
        <div class="container">
            <div>
                <h4>Student list</h4>
            </div>
            <div class="row">

                <% for (let student of students) { %>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">
                                <%= student.firstName %> <%= student.lastName %>
                            </h4>
                            <p class="card-text">
                                <%= student.email %>
                            </p>
                            <p class="card-text">
                                <%= student.dept %>
                            </p>
                            <a href="/edit-student/<%= student._id %>" class="btn btn-primary stretched-link">Edit Profile</a>
                        </div>
                    </div>
                    <br>
                </div>
                <% } %>

            </div>
            <% } else { %>
            <h1>No Student Found!</h1>
            <% } %>
        </div>


    </main>