<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>

        <div class=" container form-group col-md-5">
            <br>
            <h4>Edit teacher information</h4>
            <br>

            <form action="/update-teacher/<%= teacher._id %>" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="firstName" value="<%= teacher.firstName %>" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="lastName" value="<%= teacher.lastName %>" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" value="<%= teacher.email %>" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="userId" value="<%= teacher.userId %>" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="dept" value="<%= teacher.dept %>" required>
                </div>

                <button type="submit" class="btn btn-success">Update</button>
                <a class="btn btn-light" href="/delete-teacher/<%= teacher._id %>" style="text-align:center">Delete</a>
                <a class="btn btn-light" href="/teacher-list" style="text-align:center">Cancel</a>            

            </form>
        </div>



    </main>